<!DOCTYPE html>
<html>
<head>
<title><%= title || "Paste" %></title>
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
</head>
<body>

<div class="box">
<h2><%= title || "Untitled Paste" %></h2>
<h4>ID: <%= id %></h4>

<pre><code><%= content %></code></pre>
</div>

</body>
</html>