body{
  background:#121212;
  color:white;
  font-family:Arial;
}
.box{
  width:70%;
  margin:auto;
  margin-top:40px;
  background:#1f1f1f;
  padding:25px;
  border-radius:10px;
}
textarea{
  width:100%;
  height:300px;
  padding:10px;
  border-radius:8px;
  border:none;
  outline:none;
}
input,select{
  width:100%;
  padding:8px;
  margin:10px 0;
  border-radius:8px;
  border:none;
}
button{
  padding:10px 25px;
  cursor:pointer;
  border:none;
  border-radius:8px;
}
pre{
  background:#000;
  padding:15px;
  border-radius:8px;
  overflow-x:auto;
}